body{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em;
    font-family: futura-pt;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .06em;
    line-height: 1.6em;
    text-transform: none;
    color: rgba(0,0,0,.86);
}
    


*{
    margin: 0px;
    border: 0px;
}

header h1{ 
    margin-top: 30px;
    margin-left: 50px;
    color: rgb(0, 0, 0);
    font-weight: 400;
    letter-spacing: 8px;
}

.navigation{ 
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    margin-top: -50px;
}
li a{
    color: black;
    display: block;
    text-decoration: none;
    text-align: right;
    padding: 3px;
    margin-right: 40px;
    
}

li{
    float: left;
    list-style: none;
}

i {
    color: red;
  }
  
  .welcome {
    text-align:center;
    position: absolute;
    top:15%;
    left:50%;
    transform:translate(-50%, -50%);
    width:100%;
  }
  
  .welcome span {
    text-transform: uppercase;
    display: block;
  }
  
  .text1 {
   color: #4b4848;
   font-size:60px;
   font-weight:700;
   letter-spacing: 10px;
   margin-top: 4px;
   margin: bottom 10px;
   background: #fcfcfc;
   position: relative;
   animation: text 3s 1;
  }
  
  @keyframes text{
    0% {
      color: #ffffff;
      margin-bottom: -50px;
    }
    30% {
      letter-spacing: 40px;
      margin-bottom:-60px;
    }
    85% {
      letter-spacing:8px;
      margin-bottom:-60px;
    }
  }

.wrap{
    position: relative;
    overflow: hidden;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    background: url(/img/bath.jpg);
    background-size: cover;
    background-position: center;
}

.wrap-txt{

    color: #ffffff;
    font-size: 35px;
    text-align:center;
    margin-top: -80px;
    flex-direction: column;
    height: 25vh;
    width: 50vw;
    text-shadow: #0f0404;
}

.sect-h{
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items:center;
    height: 20vh;
    flex-grow: 1;
    margin-top: 25px;
   
}

.about-lor{
    display: flex;
    justify-content: center;
    padding-left: 19px;
   
   
}
.container-h3-nav{ 
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 100;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.2em;
    color: rgb(2, 1, 1);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
  
}

.visit{
  margin-top: 25px;
}

.navport{
  color: beige;
  margin-bottom: 70px;
  border: 5px solid white;
  padding-right: 35px;
  font-size: 16px;
  
}

.logo{
  width: 165px;
  height: 180px;

}

.carousel-item{
    margin-top: 15px;
    width: 385px;
    height: 360px;
}

.container-fluid{
    margin-top: 35px;
}
















 
































    
    
    
    
















   








