<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.jpg"image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>
<header>
    
    <div class="container-fluid">
         <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 my-berlin">
                    <h1>BERLIN PLANKS</h1>  
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 navigation">
                     <nav class="mb-3"> 
                         <ul>
                            <li> <a target="" href="../views/portfolio.html">PORTFOLIO</a></li>
                            <li> <a target="" href="../views/services.html">SERVICES</a></li>
                            <li> <a target="" href="../index.html">GO BACK</a></li>
                            <li><a target="" href="../views/contact.html">CONTACT</a></li>
                         </ul>
                     </nav>
                </div>
        
                <div class="col-xs-12 col-md-3 col-lg-12 welcome"> 
                    <span class="text1">ABOUT</span> 
                </div>
            </div>
        </div>
        
 </header>

<Main> 
    <div class="ourcompany">
        <h1>Our Company</h1>
    </div>
      
    <div class="loremcompany">
        <p>ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloremque facere pariatur nulla exercitationem esse minus ipsam ratione excepturi. Reiciendis culpa adipisci, error aperiam dolor accusamus nesciunt? Soluta, fuga voluptatem velit consectetur suscipit iste! Eum neque hic explicabo repellendus ipsum blanditiis, assumenda tempore, itaque nobis a iste iusto.</p>
    </div>
</Main>
<section class="bg-dark">

<div class="container">
    <div class="row text-white mb-4">
        <div class="col-xs-12 col-md-6 col-lg-4 ourvalues">
            <h2>Our Values</h2>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 mt-5 mb-5">
            <h3>Professional Excellence</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum consequuntur ea totam, quod veritatis repudiandae, et quibusdam deleniti ipsa quae aperiam! Fuga doloremque sint et.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 mt-5 mb-5">
            <h3>Industry Innovators</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto qui molestias magni, nam molestiae odit officiis saepe tempore eligendi provident est minus ad temporibus atque deleniti rem facilis vero quidem voluptate aliquam illo repellat tempora!</p>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4 mt-5 mb-5">
            <h3>Best People</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit molestias nulla veniam quas. Soluta earum consectetur iste ipsam quod placeat culpa quo expedita inventore?</p>
        </div>

    </div>

</div>
</section>


<div class="container-fluid">

    <div class="row p-5 bg-dark text-white">

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h3">Berlin Planks</p>
            <img class="logo" src="../img/logo.jpg" alt="Oso blanco ataca fondo negro">
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-3">Social</p>
            <div class="mb-3">
                <a class="text-secondary text-decoration-none" href="">Facebook</a>
            </div>
            <div class="mb-3">
                <a class="text-secondary text-decoration-none" href="">Instagram</a>
            </div>
            <div class="mb-3">
            <a class="text-secondary text-decoration-none" href="">Twitter</a>
            </div>
            <div class="mb-3"><a class="text-secondary text-decoration-none" href="">Linkedin</a>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-3">Contact</p>
        <div class="mb-3">
            <p class="text-secondary">3574 Juan Bautista Alberdi</p>
        </div>
        <div class="mb-3">
            <p class="text-secondary">Floresta, C1406</p>
        </div>
        <div class="mb-3">
            <p class="text-secondary">42765468</p>
        </div>
        <div class="mb-3">
            <p class="text-secondary">info@berlinplanks.com</p>
        </div>
    </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h6 mb-3">Links</p>
        <div class="mb-3">
            <a class="text-decoration-none text-secondary" href="">Terms + Conditions</a>
        </div>
        <div class="mb-3">
            <a href="" class="text-decoration-none text-secondary">Privacy Policy</a>
        </div>
    </div>




  
        
    

   

    
    
</body>
</html>