<!DOCTYPE html>
<html lang="en">
<head>
   
    
   
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
     <link rel="shortcut icon" href="../img/logo.jpg"image/x-icon">
     <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
   
     <title>About</title>
</head>
<body class="aboutb">

<header>
    <div class="h1-img-about">
        <img class="bear" src="../img/logo.jpg" alt="Oso ataca fondo negro">
        <h1 class="abouth">ABOUT US</h1>
    <nav class="cross"> 
    <ul>
        <li class="services"><a target="" href="services.html">Services</a></li>
        <li class="about"><a target="" href="about.html">About Us</a></li>
        <li class="contact"><a target="" href="contact.html">Contact</a></li>
        <li class="portfolio"><a target="" href="portfolio.html">Portfolio</a></li>
        <li class="index"> <a target="" href="../index.html">Go back</a></li>
    </ul>

    </nav>
    
 

</div>

<div class="lorem-about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi debitis atque impedit non rem dolorem quasi, eaque corrupti fugiat, nam tempore. Tempora fuga ratione reprehenderit explicabo quis, dolor maxime, dolores pariatur veniam asperiores distinctio nesciunt et sit perferendis ipsum. Voluptatibus at veniam mollitia fugit quasi temporibus rem eos voluptate. Aperiam, velit? Exercitationem a laborum, nulla est praesentium blanditiis quos magnam accusantium? Architecto ratione unde harum perferendis ea minus voluptatibus reprehenderit.</div>
    
</header>

<Main> 
    

    <h1 class="main-h1-about">Our Workers</h1>
    <div class="main-img-div">
        <img class="main-img" src="../img/dofloor.jpg" alt="Personas Haciendo pisos">
        <p class="p-about"> ipsum dolor sit amet consectetur adipisicing elit. Maiores nisi eius tempore nihil, totam ex!</p>
    </div>

    <div class="second-img-div">
        <img class="second-img" src="../img/doingfloor.jpg" alt="Personas Haciendo pisos">
        <p class="img-p-lorem">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos nostrum iste eligendi tempore, earum, in id necessitatibus tempora ea assumenda libero minus. Ea, ratione sunt.</p>
    </div>
    <div class="h2-div">
        <h2 class="h2-about">Our Process</h2>
    </div>

    <div class="i-frame">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/FKTgb6icw6Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
        <p class="div-lorem">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, nobis? Provident fugit natus architecto voluptatem quaerat repellat ullam soluta quam porro. Eveniet natus, minus quisquam delectus quaerat labore corrupti voluptatum.  
         </p>
    </div>

   

</Main>

<section>
    <div class="h1-p-ab">
        <h1 class="company">Our Mission</h1>
        <p class="p-color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt impedit accusamus perferendis minima aliquid, beatae vero, iusto harum est molestias quibusdam ab doloremque quisquam, cum provident quo voluptates. Necessitatibus ea, minima ab, ut laborum maiores rerum error aut quas, qui accusantium mollitia dignissimos nesciunt inventore! Veniam ullam recusandae obcaecati facere accusamus qui pariatur error aliquam perferendis soluta distinctio ipsa, numquam laborum doloremque inventore sed?</p>
    </div>


</section>



<footer id="footer_index">
    <nav>
    <ul>
        <li></a>Visit Us</li>
        <p>Juan Bautista Alberdi 3574</p>
        <p>(11) 68306475</p>
        <li>Subscribe</li>
        <p>Sign up with your email address to receive news and updates.</p>
        <li>Follow</li>
        <li><a target="_blank" href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram ig"></i></a>
        <li> <a target="_blank"  href="https://twitter.com/home"><i class="fa-brands fa-twitter tw"></i></a></li>
        <li><a target="_blank"  href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fb"></i></a></li>
        </li>
    </nav>

    <div>
        <p>©2022 BerlinPlanks Inc. All Rights Reserved.</p>
    </div>
</footer>
<i class="fa-brands fa-whatsapp wp"></i>

    
    
</body>
</html>