<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
     <link rel="shortcut icon" href="../img/logo.jpg"image/x-icon">
     <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>
<body>
<header>
    <div class="h1-img-about">
        <img class="bear" src="../img/logo.jpg" alt="Oso ataca fondo negro">
        <h1 class="abouth">CONTACT US</h1>
       <nav class="cross"> 
    <ul>
        <li class="services"><a target="" href="services.html">Services</a></li>
        <li class="about"><a target="" href="about.html">About Us</a></li>
        <li class="contact"><a target="" href="contact.html">Contact</a></li>
        <li class="portfolio"><a target="" href="portfolio.html">Portfolio</a></li>
        <li class="index"> <a target="" href="../index.html">Go back</a></li>
    </ul>

    </nav>
</header>

<Main>
    <div class="main-p-cont">
        <p class="cont-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quidem consequuntur et fugit nemo dolore quos incidunt accusamus ex laboriosam?</p>
    </div>

    <div class="imgs-contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.737742511788!2d-58.47824108521291!3d-34.63606716671658!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc99aebc75b91%3A0x497790def7e1d4c3!2sPisos%20Alemanes%20Sucursal%20Alberdi!5e0!3m2!1ses-419!2sar!4v1671458452625!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <img class="img-view" src="../img/view.jpg" alt="Empresa vista desde afuera">
    </div>
 

 

</Main>

<footer id="footer_index">
    <nav>
    <ul>
        <li></a>Visit Us</li>
        <p>Juan Bautista Alberdi 3574</p>
        <p>(11) 68306475</p>
        <li>Subscribe</li>
        <p>Sign up with your email address to receive news and updates.</p>
        <li>Follow</li>
        <li><a target="_blank" href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram ig"></i></a>
        <li> <a target="_blank"  href="https://twitter.com/home"><i class="fa-brands fa-twitter tw"></i></a></li>
        <li><a target="_blank"  href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fb"></i></a></li>
        </li>
    </nav>

    <div>
        <p>©2022 BerlinPlanks Inc. All Rights Reserved.</p>
    </div>
</footer>
<i class="fa-brands fa-whatsapp wp"></i>
    
 

</div>


</header>
    
</body>
</html>