<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.jpg"image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
    <title>Contact</title>
</head>
<body>
<header>
    
    <div class="container-fluid">
         <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 my-berlin">
                    <h1>BERLIN PLANKS</h1>  
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 navigation">
                     <nav class="mb-3"> 
                         <ul>
                            <li> <a target="" href="../views/about.html">ABOUT</a></li>
                            <li> <a target="" href="../views/services.html">SERVICES</a></li>
                            <li> <a target="" href="../index.html">GO BACK</a></li>
                            <li> <a target="" href="../views/portfolio.html">PORTFOLIO</a></li>
                         </ul>
                     </nav>
                </div>
        
                <div class="col-xs-12 col-md-3 col-lg-12 welcome"> 
                    <span class="text1">CONTACT</span> 
                </div>
            </div>
        </div>
        
 </header>
    <div class="please">
        <h1>Please contact us to find out more about our company</h1>
    </div>  
    <div class="iframe-contact">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3282.7349957864403!2d-58.47818958519401!3d-34.636136566720346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc99aebc54f99%3A0x3b6c639f22038e62!2sAv.%20Juan%20Bautista%20Alberdi%203574%2C%20C1407GZP%20CABA!5e0!3m2!1ses-419!2sar!4v1674523979115!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="berlin-planks mt-5 m-5">
        <div class="contact-b">
            <h2>Berlin Planks</h2>
            <p>3574 Juan Bautista Alberdi</p>
            <p>Floresta, CP1406</p>
            <p>42765468</p>
            <p>info@berlinplanks.com</p>
        </div>

    </div>
    
   

    <div class="card col-sm-8 p-3 w-100 bg-dark">
        <div class="mb-3 my-card text-white">
            <h4>Contacto</h4>
        </div>
        <div class="mb-2 text-white">
            <form action= "">
                <div class="mb-2">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="Nombre" id="Nombre" placeholder="ej: Franco">
                </div>
                <div class="mb-2 text-white">
                    <label for="Apellido">Apellido</label>
                    <input type="text" class="form-control" name="Apellido" id="Apellido" placeholder="ej: Avolio">
                </div>
                <div class="mb-2">
                    <label for="Correo">Correo</label>
                    <input type="text" class="form-control" name="Correo" id="Correo" placeholder="ej: francoavolio@hotmail.com">
                </div>
                <div class="mb-2">
                    <label for="Sexo">Sexo</label>
                    <input type="radio" name="Sexo" id="Masculino" value="Masculino"> Masculino
                    <input type="radio" name="Sexo" id="Femenino" value="Femenino"> Femenino
                </div>
                <div class="mt-2">
                    <label for="Mensaje">Mensaje</label>
                    <textarea name="Mensaje" id="Mensaje" placeholder="ej: Me comunico por..."></textarea>
                </div>
                <div class="mb-1">
                    <button class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>

</main>

                

           

        
    

    <div class="container-fluid">

        <div class="row p-5 bg-dark text-white">
    
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Berlin Planks</p>
                <img class="logo" src="../img/logo.jpg" alt="Oso blanco ataca fondo negro">
            </div>
    
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Social</p>
                <div class="mb-3">
                    <a class="text-secondary text-decoration-none footer-hover" href="">Facebook</a>
                </div>
                <div class="mb-3">
                    <a class="text-secondary text-decoration-none footer-hover" href="">Instagram</a>
                </div>
                <div class="mb-3">
                <a class="text-secondary text-decoration-none footer-hover" href="">Twitter</a>
                </div>
                <div class="mb-3"><a class="text-secondary text-decoration-none footer-hover" href="">Linkedin</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Contact</p>
            <div class="mb-3">
                <p class="text-secondary">3574 Juan Bautista Alberdi</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">Floresta, C1406</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">42765468</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">info@berlinplanks.com</p>
            </div>
        </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Links</p>
            <div class="mb-3">
                <a class="text-decoration-none text-secondary footer-hover" href="">Terms + Conditions</a>
            </div>
            <div class="mb-3">
                <a href="" class="text-decoration-none text-secondary footer-hover">Privacy Policy</a>
            </div>
        </div>



    
</body>
</html>