<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../img/logo.jpg"image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
    <title>Services</title>
</head>
<body>
<header>
    
    <div class="container-fluid">
         <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 my-berlin">
                    <h1>BERLIN PLANKS</h1>  
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 navigation">
                     <nav class="mb-3"> 
                         <ul>
                            <li> <a target="" href="about.html">ABOUT</a></li>
                            <li> <a target="" href="../views/portfolio.html">PORTFOLIO</a></li>
                            <li> <a target="" href="../index.html">GO BACK</a></li>
                            <li><a target="" href="contact.html">CONTACT</a></li>
                         </ul>
                     </nav>
                </div>
        
                <div class="col-xs-12 col-md-3 col-lg-12 welcome"> 
                    <span class="text1">SERVICES</span> 
                </div>
            </div>
        </div>
        
 </header>

<main class="mein">
    <div class="main-content">
        <h1>We are the first Argentine company to bring floors from Germany</h1>
        <div class="loremserv">
            <p class="content-services">We are the first company dedicated exclusively to Floors. We started with Floating Floors, and little by little we incorporated Vinyl Floors with inserts, WPC Decks, Porcelain Tiles and Prefinished. We are a company inspired by providing the best service and quality, just like European companies, where the customer comes first. The customer who enters Berlin Planks quickly finds an advisor who will accompany him throughout the purchase process until after-sales. We have more than 300 different colors and designs of Floors, since we always seek the forefront of world trends and meet the tastes of each of our clients. Our philosophy is customer-focused. Both our products and premises as well as our employees and installers have a single objective: customer satisfaction.</p>
        </div>
    </div>
</main>

    <section class="section-div container-s bg-black text-white">
        <div class="ourproducts">
            <h2>Our Products</h2>
        </div>
        <div class="container">
            <div class="row text-white">
                <div class="col-xs-12 col-md-8 col-lg-4">
                    <h2>Floating Floors</h2>
                    <p>Floating floors are a type of interior floor or wall covering that is laid without gluing, nailing or screwing. They rest on any surface (floors or walls), as long as it is smooth, dry and level. The material is HDF, a high-density wood fiber, very resistant to scratches, blows, stains and burns. They are very easy to clean floors. They are between 7mm and 14mm, allowing you not to have to lift the existing floor to place them. These are floors: shock, impact and abrasion proof; durable, with up to 30 years of guarantee; lightfast, do not fade in sunlight or run; easy to place, thanks to its Twin Click or Click Express system; anti-allergenic, since dust, mites and dirt have nowhere to hide; suitable for underfloor heating; and very easy to clean.</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <h2>Vinyl Planks</h2>
                    <p>Interlock vinyl flooring is a type of 4-7mm interior floor or wall covering that is laid without gluing, nailing or screwing. They rest on any surface (floors or walls), as long as it is smooth, dry and level. They are highly resistant to high traffic and impacts, and 100% waterproof. This, thanks to the fact that they are made of a plastic called synthetic polyvinyl chloride, which is highly flexible and strong. They are self-extinguishing and comply with international fire protection standards. They are also acoustic insulators, comfortable and silent when walking. And they are suitable for underfloor heating, withstanding temperatures up to 29°C. They are easily installed on any existing surface, with a quick dry work.</p>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4">
                    <h2>Porcelain Tiles</h2>
                    <p>They are exterior and interior coverings, ideal for places with high traffic, both residential and public. They are also applied as a wall covering. They are made from a combination of quartz, clay and other materials, which are molded, pressed, subjected to a drying process and treated at a temperature of more than 1,300°C. They have three times more resistance to wear than traditional ceramic and absorb a very low amount of water, so they can be wet without damage or staining. They are very easy to clean, do not require special maintenance and are characterized by their long durability without changing their original appearance.</p>

                </div>
            </div>
        </div>





    </section>


 
    <div class="container-fluid">

        <div class="row p-5 bg-dark text-white">
    
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h3">Berlin Planks</p>
                <img class="logo" src="../img/logo.jpg" alt="Oso ataca fondo negro">
            </div>
    
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Social</p>
                <div class="mb-3">
                    <a class="text-secondary text-decoration-none" href="">Facebook</a>
                </div>
                <div class="mb-3">
                    <a class="text-secondary text-decoration-none" href="">Instagram</a>
                </div>
                <div class="mb-3">
                <a class="text-secondary text-decoration-none" href="">Twitter</a>
                </div>
                <div class="mb-3"><a class="text-secondary text-decoration-none" href="">Linkedin</a>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Contact</p>
            <div class="mb-3">
                <p class="text-secondary">3574 Juan Bautista Alberdi</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">Floresta, C1406</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">42765468</p>
            </div>
            <div class="mb-3">
                <p class="text-secondary">info@berlinplanks.com</p>
            </div>
        </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <p class="h6 mb-3">Links</p>
            <div class="mb-3">
                <a class="text-decoration-none text-secondary" href="">Terms + Conditions</a>
            </div>
            <div class="mb-3">
                <a href="" class="text-decoration-none text-secondary">Privacy Policy</a>
            </div>
        </div>


</body>
</html>