<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../css/style.css">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Roboto:ital,wght@1,100;1,400&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../img/logo.jpg"image/x-icon"> <script src="https://kit.fontawesome.com/2677fc6652.js" crossorigin="anonymous"></script>
<title>Services</title>
    
</head>
<body>
<header>
    <div class="h1-img-about">
            <img class="bear" src="../img/logo.jpg" alt="Oso ataca fondo negro">
            <h1 class="abouth">SERVICES</h1>
        <nav class="cross"> 
        <ul>
            <li class="services"><a target="" href="services.html">Services</a></li>
            <li class="about"><a target="" href="about.html">About Us</a></li>
            <li class="contact"><a target="" href="contact.html">Contact</a></li>
            <li class="portfolio"><a target="" href="portfolio.html">Portfolio</a></li>
            <li class="index"> <a target="" href="../index.html">Go back</a></li>
        </ul>
    
        </nav>
    </div>

<main>
    <div class="div-p-services">
      
        <p class="p-service">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, dolorem. Maxime perferendis cupiditate porro odio.
        </p>
        <h1 class="inst-services">Installation</h1>
    </div>

    <div class="img-services">
        <img class="img-service" src="../img/personfloor.png" alt="Persona colocando Piso Vinilico">
        <iframe class="i-frame-serv" src="https://www.youtube.com/embed/6KEthELQfro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="lorem-installation">   
        <p class="div-p-serv">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam doloremque, illum voluptas omnis cum illo!</p>

    </div>
    
        

    

    



</main>

<section> 
    <div class="fab-serv"> 
        <h1>Fabrication</h1>
    </div>
    <div class="fab-iframe">
        <iframe width="760" height="415" src="https://www.youtube.com/embed/dwItxklQuOI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>

    <div class="oth-serv">
        <h1>Important To Know</h1>
    </div>

    <div class="iframes-div">
        <iframe width="660" height="415" src="https://www.youtube.com/embed/eC-Z6aJGDiI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="660" height="415" src="https://www.youtube.com/embed/SovPmKnhNcg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div>
     <div class="lorem-serv-p">
     <p class="p-lorem-serv">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur architecto error aperiam totam eligendi nesciunt distinctio enim, vero sint ad libero quo quam optio amet aspernatur. A, nesciunt! Quod, nam?
     </p>
     </div>

</section>

<footer id="footer_index">
    <nav>
    <ul>
        <li></a>Visit Us</li>
        <p>Juan Bautista Alberdi 3574</p>
        <p>(11) 68306475</p>
        <li>Subscribe</li>
        <p>Sign up with your email address to receive news and updates.</p>
        <li>Follow</li>
        <li><a target="_blank" href="https://www.instagram.com/?hl=es"><i class="fa-brands fa-instagram ig"></i></a>
        <li> <a target="_blank"  href="https://twitter.com/home"><i class="fa-brands fa-twitter tw"></i></a></li>
        <li><a target="_blank"  href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fb"></i></a></li>
        </li>
    </nav>

    <div>
        <p>©2022 BerlinPlanks Inc. All Rights Reserved.</p>
        <i class="fa-brands fa-whatsapp wp"></i>     

    </div>
</footer>
<i class="fa-brands fa-whatsapp wp"></i>


    
</body>
</html>