.please{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
  
  
.iframe-contact{
  
    display: flex;
    justify-content: center;
    margin-top: 65px;
}
  
  
.my-card{
    display: flex;
    justify-content: center;
}