header{
    color: rgb(0, 0, 0);
    h1{ 
    margin-top: $mtop;
    color: rgb(0, 0, 0);
    font-weight: 300;
    letter-spacing: 8px;}
    }
        .navigation{ 
            font-size: $fs;
            font-weight: $font-w;
            display: flex;
            flex-flow: row nowrap;
            justify-content: end;
            margin-top: -55px;
            li {
                list-style: none;
                text-align: right;
                display: inline-block;
                padding: $pad;
                margin-right: 26px;
                a{   
                    float: left;
                    text-decoration: none;
                    color: black;
                }
            }
        }
    
 
.navigation li a:hover{
    text-decoration: underline rgb(33, 134, 75);
  }


i {
    color: red;
  }

  @media screen and (max-width: 576px){
    h1{
    margin-top: 182px;
     }
  }
  
  @media  screen and (max-width: 1280px) {
  
    .welcome{
        margin-top: 25px;
    }
    
  }
  
  
  @media  screen and (max-width: 780px) {
  
    .welcome{
        visibility: hidden;
    }
    
  }
  
  @media screen and (max-width: 770px) {
  
  nav ul li {
        margin-top: 55px;
        margin-right: 55px;
  }
  
  }
  
  @media screen and (max-width: 850px){
    .welcome{
      display: none; 
    }
  }
  
  .welcome {
    text-align:center;
    position: absolute;
    top:15%;
    left:50%;
    transform:translate(-50%, -50%);
      span{
        text-transform: uppercase;
        display: block;
      }
   }
  
  .text1 {
   color: #4b4848;
   font-size:60px;
   font-weight:700;
   letter-spacing: 10px;
   margin-top: 25px;
   background: #fcfcfc;
   position: relative;
   animation: text 3s 1;
  }
  
  @keyframes text{
    0% {
      color: #ffffff;
      margin-bottom: -50px;
    }
    30% {
      letter-spacing: 40px;
      margin-bottom:-60px;
    }
    85% {
      letter-spacing:8px;
      margin-bottom:-60px;
    }
  }