$ancho-img: 500px;
$alto-img: 800px;


.my-vinyl {
    width: $ancho-img;
    height: $alto-img/2;
  }
  
.my-porcelanic {
    width: $ancho-img;
    height: $alto-img/2;
  }
  
.my-portfolio {
    width: $ancho-img;
    height: $alto-img/2;
  }